## Question 1
What's the version of NumPy that you installed?

In [5]:
import numpy as np
print(np.__version__)

1.21.5

## Question 2

How many records are in the dataset?

Here you need to specify the number of rows.

* 16
* 6572
* 11914
* 18990

In [3]:
url = "https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv"

In [4]:
import pandas as pd
df = pd.read_csv(url)
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [7]:
print(f"the number of rows = {df.shape[0]}")

the number of rows = 11914

## Question 3

Who are the most popular car manufacturers (top-3) according to the dataset?

* Chevrolet, Volkswagen, Toyota
* Chevrolet, Ford, Toyota
* Ford, Volkswagen, Toyota
* Chevrolet, Ford, Volkswagen

In [15]:
print(f"top3 popular car manufactures : \n {df['Make'].value_counts().index[:3]}")

top3 popular car manufactures :
 Index(['Chevrolet', 'Ford', 'Volkswagen'], dtype='object')

## Question 4

What's the number of unique Audi car models in the dataset?

* 3
* 16
* 26
* 34

In [16]:
print(f"the number of unique Audi car models in the dataset: {df['Model'][df['Make'] == 'Audi'].nunique()}")

the number of unique Audi car models in the dataset: 34

## Question 5
How many columns in the dataset have missing values?

* 5
* 6
* 7
* 8

In [20]:
print(f"{len(df.isnull().sum()[df.isnull().sum() > 0].tolist())} columns in the dataset have missing values")

5 columns in the dataset have missing values

## Question 6

* Find the median value of "Engine Cylinders" column in the dataset.
* Next, calculate the most frequent value of the same "Engine Cylinders".
* Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
* Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

Hint: refer to existing mode and median functions to complete the task.

* Yes
* No

In [24]:
print(f"the median value of Engine Cylinders column in the dataset : {df['Engine Cylinders'].median()}")

the median value of Engine Cylinders column in the dataset : 6.0

In [26]:
print(f"the most frequent value of Engine Cylinders column in the dataset : {df['Engine Cylinders'].mode()[0]}")

the most frequent value of Engine Cylinders column in the dataset : 4.0

In [27]:
df['Engine Cylinders'] = df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode()[0])

In [28]:
print(f"the median value of Engine Cylinders column in the dataset : {df['Engine Cylinders'].median()}")

the median value of Engine Cylinders column in the dataset : 6.0

* the mean value has not changed

## Question 7

* Select all the "Lotus" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders".
* Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
* Get the underlying NumPy array. Let's call it X.
* Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
* Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
* Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
* What's the value of the first element of w?

#### Note: You just implemented linear regression. We'll talk about it in the next lesson.

* -0.0723
* 4.5949
* 31.6537
* 63.5643

#### Select all the "Lotus" cars from the dataset.

In [72]:
X = df[['Engine HP','Engine Cylinders']][df['Make'] == 'Lotus']

In [73]:
X.shape

(29, 2)

#### Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).

In [74]:
X = X.drop_duplicates()

In [75]:
X.shape

(9, 2)

#### Get the underlying NumPy array. Let's call it X.

In [76]:
X = X.values

In [77]:
type(X)

numpy.ndarray

In [78]:
X.T.shape

(2, 9)

#### Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T.

In [79]:
XTX = X.T.dot(X)

In [80]:
XTX.shape

(2, 2)

#### Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].

In [82]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [83]:
y.shape

(9,)

#### Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [84]:
XTX_inv = np.linalg.inv(XTX)
w = XTX_inv.dot(X.T).dot(y)

In [85]:
w.shape

(2,)

In [87]:
w

array([  4.59494481, -63.56432501])

#### What's the value of the first element of w?

In [86]:
w[0]

4.594944810094579